node_modules
.env
.env.*
coverage
coverage.json
typechain-types
contracts-exposed
.vscode
env.testnet

#Hardhat files
cache
artifacts

.DS_Store
.idea
.eslintcache
contracts.json
deployedAddresses.json
deployedTestnetAddresses.json
deployedMainnetAddresses.json
